/* Color
----------------------- */
$color-one: #FF5777;
$color-white: #FFFFFF;
$color-black: #000000;


/* Text
----------------------- */
$color-text-one: #333333;
$color-text-two: #666666;
$color-text-three: $color-white;
$color-text-four: $color-one;


/* Background
----------------------- */
$background-color-one: #F1F1F1;
$background-color-two: $color-white;
$background-color-three:$color-one;


/* Border
----------------------- */
$border-width-base: 1Px !default;
$border-style-base: solid !default;
$border-color-base: #E5E5E5;
$border-base: $border-width-base $border-style-base $border-color-base !default;
